.input {
    width: 100%;
    position: relative;
    label {
        font-size: 1.4rem;
        text-align: left;
        display: block;
        font-weight: 700;
        text-transform: none;
        color: $color-secondary;
        margin-bottom: 5px;

        &.error {
            color: $color-redish;
        }
    }
    textarea {
        min-height: 220px;
    }
    input, textarea, select {
        width: 100%;
        display: block;
        padding: 15px;
        border: 2px solid #B3B3B3;
        appearance: none;
        background-color: transparent;
        color: #000;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        outline: none;
        transition: all .3s;

        &:active, &:focus {
            border: 2px solid $color-main;
        }

        &:focus {
            outline: none;
        }

        &.error {
            border-color: $color-redish;
        }
    }
    ::-webkit-input-placeholder {
        color: rgba(49,49,49,0.8);
    }
    :-ms-input-placeholder {
        color: rgba(49,49,49,0.8);
    }
    ::placeholder {
        color: rgba(49,49,49,0.8);
    }
}

.errors {
    color: $color-redish;
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
}

