.loader-ring {
    display: inline-block;
    width: 42px;
    height: 42px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.loader-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.button:hover {
    .loader-ring:after {
        border-color: #000 transparent #000 transparent;
    }
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
